.header {
  color: $blanco;
  background: $negroClaro;
  width: 100%;

  &__logo {
    margin: 0;
    font-size: em(24px);
    font-weight: $weight-100 ;
  }
  .navbar-toggler {
    padding: 0;
  }
}
