//Animación precarga
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Precarga
.opacidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $azulMedianoche;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  text-align: center;
  .precarga {
    width: rem(80px);
    height: rem(80px);
    border: rem(2px) solid $blanco;
    border-top: rem(3px) solid $azul;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: girar 1s infinite ease-in-out;
  }
}

@keyframes ocultar{
  from{
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  to{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.ocultar{
  animation: ocultar 0.8s forwards ease;
}