.menu {
  a {
    color: $blanco;
    padding: rem(15px) rem(20px) !important;
    margin: 0 rem(4px);
    @extend %borde;
    @extend %transicion;
    text-align: center;
    text-transform: capitalize;
    &:hover {
      background: rgba(29, 128, 187, 0.5);
    }
  }
  &--login {
    font-size: em(22.4px);
  }
  @media screen and (max-width: $medium) {
    padding: 0 rem(64px);
    a {
      margin-bottom: rem(10px);
    }
  }
}
