#nosotros {
  background: $negroClaro;
  color: $blanco;
  img {
    border: rem(8px) solid $azul;
  }
  .profile {
    font-weight: $weight-100;
  }
}
.socials {
  a {
    font-size: rem(32px);
    color: $azulMedianoche;
    &:hover {
      color: $azul;
    }
  }
}
