.map{
  text-align: right;
  width: 100%;
  height: rem(320px);
  position: relative;
  .mapboxgl-map{
    width: 100%;
    height: 100%;
    .mapboxgl-ctrl-bottom-right{
      display: none;
    }
  }
}